[Unit]
Description=APT History Logger
Documentation=https://github.com/EvSecDev/APTHistoryLogger
After=systemd-journald.service

[Service]
User=_apt
Group=nogroup
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/apthl --daemon --log-file /var/log/apt/history.log
Type=exec
RestartSec=60
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
